@using Newtonsoft.Json
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from labartisan.net/demo/foodbuzz/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 12 Mar 2025 04:42:07 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- favicon -->
    <link rel="shortcut icon" href="~/assets/images/logo/logotab.png" type="image/png">
    <link href="~/assets/css/animate.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/css/icofont.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/all.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/lightcase.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/swiper.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/style.css" asp-append-version="true">

    <title>The Mint Café</title>
</head>
<body>
    <!-- preloader start here -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- preloader ending here -->
    <!-- search area -->
    <div class="search-area">
        <div class="search-input">
            <div class="search-close">
                <span></span>
                <span></span>
            </div>
            <form>
                <input type="text" name="text" placeholder="*Search Here.......">
                <button class="search-btn"><span class="serch-icon"><i class="icofont-search-2"></i></span></button>
            </form>
        </div>
    </div>
    <!-- search area -->
    <!-- Mobile Menu Start Here -->
    <div class="mobile-menu">
        <nav class="mobile-header">
            <div class="header-logo">
                <a href="index.html"><img class="logonavmobile" src="~/assets/images/logo/logo1500x500_2.png" alt="logoAA"></a>
            </div>
            <div class="header-bar">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
        <nav class="mobile-menu">
            <div class="mobile-menu-area">
                <div class="mobile-menu-area-inner">
                    <ul>
                        <li class="active"><a href="index.html">Home</a></li>
                        <li>
                            <a href="#">Pages</a>
                            <ul>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="coming-soon.html">Coming Soon</a></li>
                                <li><a href="404.html">404</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Food Menu</a>
                            <ul>
                                <li><a href="menu-card.html">Menu Card</a></li>
                                <li><a href="menu-card-2.html">Menu Card 2</a></li>
                                <li><a href="menu-card-3.html">Menu Card 3</a></li>
                            </ul>
                        </li>
                        <li><a href="reserv.html">Reservation</a></li>
                        <li>
                            <a href="#">Blog</a>
                            <ul>
                                <li><a href="blog.html">Blog Style 1</a></li>
                                <li><a href="blog-2.html">Blog Style 2</a></li>
                                <li><a href="blog-single.html">Blog Single</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Shop</a>
                            <ul>
                                <li><a href="shop-page.html">Shop Page</a></li>
                                <li><a href="shop-single.html">Shop Single</a></li>
                                <li><a href="cart-page.html">Cart Page</a></li>
                            </ul>
                        </li>
                        <li><a href="contact-us.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- Mobile Menu Ending Here -->
    <!-- desktop menu start here -->
    <header class="header-section">
        <div class="header-area">
            <div class="header-top">
                <div class="container">
                    <div class="top">
                        <ul class="left">
                            <li>
                                <i class="far fa-clock"></i>
                                Sun-Fri: 9am-6pm Saterday Closed
                            </li>
                            <li>
                                <i class="fas fa-map-marker-alt"></i>
                                60/A Soft Road 24th Street, NY 1200
                            </li>
                            <li>
                                <i class="fas fa-headset"></i>
                                Support@foodbuzz.com
                            </li>
                        </ul>
                        <ul class="right">
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href="#"><i class="fas fa-futbol"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            <li><a href="#"><i class="fas fa-wifi"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="container">
                    <div class="primary-menu">
                        <div class="logo">
                            <a href="@Url.Action("Index", "Home")"><img class="logonav" src="~/assets/images/logo/logo1500x500_2.png" alt="logoA"></a>
                        </div>
                        <div class="main-area">
                            <div class="main-menu">
                                <ul>
                                    <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                                    <li>
                                        <a href="#">Pages</a>
                                        <ul>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="coming-soon.html">Coming Soon</a></li>
                                            <li><a href="404.html">404</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Food Menu</a>
                                        <ul>
                                            <li><a href="menu-card.html">Menu Card</a></li>
                                            <li><a href="menu-card-2.html">Menu Card 2</a></li>
                                            <li><a href="menu-card-3.html">Menu Card 3</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="reserv.html">Reservation</a></li>
                                    <li>
                                        <a href="#">Blog</a>
                                        <ul>
                                            <li><a href="blog.html">Blog Style 1</a></li>
                                            <li><a href="blog-2.html">Blog Style 2</a></li>
                                            <li><a href="blog-single.html">Blog Single</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Shop</a>
                                        <ul>
                                            <li><a href="shop-page.html">Shop Page</a></li>
                                            <li><a href="shop-single.html">Shop Single</a></li>
                                            <li><a href="cart-page.html">Cart Page</a></li>
                                        </ul>
                                    </li>
                                    @if (Context.Session.GetString("AccountLogOn") != null)
                                    {
                                        string userJson = Context.Session.GetString("AccountLogOn");
                                        var u = JsonConvert.DeserializeObject<User>(userJson);
                                        if (u.Role.Equals("customer"))
                                        {
                                            <li><a href="@Url.Action("Booking", "Customer")">Booking</a></li>

                                        }
                                        else if (u.Role.Equals("staff"))
                                        {
                                            <li><a href="@Url.Action("Order", "Staff")">Order</a></li>

                                        }
                                    }
                                </ul>
                            </div>
                            <div class="cart-search">
                                <ul>
                                    <li class="search"><i class="icofont-search-2"></i></li>
                                    <li class="cart-area">
                                        <div class="cart-icon">
                                            <i class="icofont-cart-alt"></i>
                                        </div>
                                    </li>
                                    <li class="infomation">
                                        <i class="icofont-user-alt-5"></i>
                                    </li>
                                    @if (Context.Session.GetString("AccountLogOn") != null)
                                    {
                                        <li class="login-icon">
                                            <a href="@Url.Action("Logout", "Account")" style="color:red;"><i class="icofont-login"></i>

                                            </a>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- desktop menu ending here -->

    @RenderBody()

    <!-- link area start -->
    <div class="news_link">
        <div class="container">
            <div class="order-content" style="margin-right: 200px;">
                <div class="content-logo" style="align-content: center;">
                    <a href="#">
                        <img src="~/assets/images/logo/logo1500x500_3-removebg-preview.png" alt="logo">
                        <p>Good Food For Good Helts</p>
                    </a>
                </div>
                <div class="content-link">
                    <ul>
                        <li>
                            <h5>Work with best resturant theme</h5>
                        </li>
                        <li>
                            <a href="#" class="food-btn style-2">
                                <span>Order Now</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- footer area start -->
    <footer class="padding-tb" style="background-image: url(assets/css/bg-image/footer-bg.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                    <div class="contant-info">
                        <h5>Contact info</h5>
                        <ul class="info">
                            <li>
                                <i class="fas fa-home"></i>
                                <span>Suite 02 Level Tropical Center</span>
                            </li>
                            <li>
                                <i class="fas fa-phone"></i>
                                <span>+880 1234 567890, 025984712</span>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-globe-asia"></i>
                                    <span>www.foodbuzz@gmail,com</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-headphones"></i>
                                    <span>support@codexcoder.com</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                    <div class="opening-time">
                        <h5>Opening Hours</h5>
                        <ul>
                            <li>
                                <p><i class="far fa-clock"></i>Saterday</p>
                                <span>06:00 am - 08:00 pm</span>
                            </li>
                            <li>
                                <p><i class="far fa-clock"></i>Sunday</p>
                                <span>09:00 am - 02:00 pm</span>
                            </li>
                            <li>
                                <p><i class="far fa-clock"></i>Monday</p>
                                <span>07:00 am - 09:00 pm</span>
                            </li>
                            <li>
                                <p><i class="far fa-clock"></i>Tuesday</p>
                                <span>02:00 am - 06:00 pm</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                    <div class="news_letter">
                        <h5>Subscribe Newsletter</h5>
                        <p>
                            Sign Up For Our Latest News & Articles.
                            We Wont Give You Spam Mails.
                        </p>
                        <div class="contact-search">
                            <form class="searchForm" method="get" action="https://labartisan.net/demo/foodbuzz/0">
                                <input class="searchTerm" placeholder="Your Email" autocomplete="off">
                                <input type="submit" class="searchBtn" value="Subscribe!" />
                            </form>
                        </div>
                        <ul class="follow_us">
                            <li>
                                <p>Follow Us : </p>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fas fa-wifi"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fas fa-globe"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-behance"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area ends -->
    <!-- footer menu start -->

    @RenderSection("Scripts", required: false)

    <!-- footer menu ends -->
    <!-- scrollToTop start here -->
    <a href="#" class="scrollToTop"><i class="icofont-swoosh-up"></i></a>
    <!-- scrollToTop ending here -->
    <script src="~/assets/js/jquery.js" asp-append-version="true"></script>
    <script src="~/assets/js/fontawesome.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/waypoints.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/isotope.pkgd.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/wow.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/swiper.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/progress.js" asp-append-version="true"></script>
    <script src="~/assets/js/tab.js" asp-append-version="true"></script>
    <script src="~/assets/js/lightcase.js" asp-append-version="true"></script>
    <script src="~/assets/js/jquery.countdown.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/functions.js" asp-append-version="true"></script>
</body>
</html>
